<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/title-logo.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>This site is created by sahal khalani. It uses mapbox.com and weatherstack.com!</p>
        <img src="/img/Name.png" class="portrait" alt="">
    </div>
    {{>footer}}
</body>

</html>