<!DOCTYPE html>
<html>

<head>
    <title>Weather</title>
    <link rel="icon" href="/img/title-logo.png">
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <p>Find your lovely weather here!</p>

        <form action="">
            <input type="text" id='location' placeholder="Location">
            <button>Search</button>
        </form>

        <div class="result">
            <p id="locationResult"></p>
            <p id="forecast"></p>
        </div>
    </div>

    {{>footer}}

    <script src="/js/app.js"></script>
</body>

</html>